#thinking {
  align-items: center;
  background-color: #f2f2f2;
  height: 100vh;
  font-family: "Merriweather", serif;
  margin: 0;
  display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  .person {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 280px;
  }
  .container {
    border-radius: 50%;
    height: 312px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 400px;
  }
  .container:after {
    background-color: red;
    content: "";
    height: 10px;
    position: absolute;
    width: 100%;
  }
  .container:hover {
    transform: scale(0.54);
  }
  .container-inner {
    clip-path: path(
      "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
    position: relative;
    transform-origin: 0%;
    top: -200px;
  }
  .circle {
    background-color: #fee7d3;
    border-radius: 50%;
    cursor: pointer;
    height: 380px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 100px;
    width: 380px;
  }
  .img {
    pointer-events: none;
    position: relative;
    transform: translateY(10px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 110px;
    left: -60px;
    width: 400px;
  }
  .container:hover .img {
    transform: translateY(0) scale(1.2);
  }
  .divider {
    background-color: #ca6060;
    height: 1px;
    width: 100%;
    background-color: red;
  }
  .name {
    color: #404245;
    font-size: 36px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
  }
  .title {
    color: #6e6e6e;
    font-family: arial;
    font-size: 30px;
    font-style: italic;
    margin-top: 4px;
  }